{{ 'section-main-article.css' | asset_url | stylesheet_tag }}

 <section class="lg:px-5 px-2.5">
    <div class="flex flex-col-reverse lg:flex-row lg:pt-7.5 lg:pb-7.5 pt-2.5 pb-5 border-b border-black lg:px-2.5 gap-2.5">
      <div class="flex flex-col justify-between items-center text-center w-full">
        <div class="flex flex-col">
          <div class="font-mono text-13 tracking-2 leading-140 uppercase opacity-75 lg:mb-2.5 mb-1">{{ blog.title }}</div>
          <div class="lg:text-48 text-28 leading-100 capitalize">{{ article.title }}</div>
        </div>
        <div class="text-14 leading-120 tracking-2 font-mono pt-10">By {{ article.author }}</div>
      </div>
    </div>
  </section>
  <section>
    <div class="rte article w-full md:w-[688px] mx-auto px-5 md:px-0 py-5">
      {{ article.content }}
    </div>
  </section>


{% schema %}
{
  "name": "t:sections.article.name",
  "tag": "article",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
